#html {
    height: 100%; 
}

#body {
    background: linear-gradient(to bottom, #05668d 0%, #02c39a 100%);
    margin: 0; 
    height: 100%;
}

#header {
    background: linear-gradient(to right, #05668d 0%, #02c39a 100%);
    width: 100%;
    height: 10%; 
    text-align: center;
}

#header-buttons {
    background: linear-gradient(to right, #05668d 0%, #02c39a 100%);
    height: 100%;
    width: 19%;
    border: 0cm;
}

#header-buttons:hover {
    background: linear-gradient(to right, #02c39a 0%, #05668d 100%);
    height: 100%;
    width: 19%;
    border: 0cm;
}

#welcome-container {
    display: flex; 
    width: 100%;
    height: 90%;
}

#welcome-container-block {
    width: 50%;
    height: 100%;
    flex: 1; 
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#welcome-container-image {
    width: 50%;
    height: 100%;
    flex: 1;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#welcome-image {
    width: 75%; 
    height: 75%;  
    display: block; 
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#random-facts {
    width: 100%;
    height: 90%;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#about-me {
    width: 100%;
    height: 90%;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
